@charset "UTF-8";

/*  
    Paleta de cores

        #2C3D73 - Azul escuro
        #9BC1F2 - Azul claro
        #829FD9 - Azul médio
        #401201 - Marrom escuro

    Mobile first

        Celular : de 600px até 768px
        Tablets: de 769px até 992px
        Desktop: 992px até 1200px
        Grandes telas: acima de 1200px  
        
    
*/ 
