@charset "UTF-8";

/*  
    Paleta de cores

        #2C3D73 - Azul escuro
        #9BC1F2 - Azul claro
        #829FD9 - Azul médio
        #401201 - Marrom escuro

    Mobile first

        Celular : de 600px até 768px
        Tablets: de 769px até 992px
        Desktop: 992px até 1200px
        Grandes telas: acima de 1200px  
        
    
*/ 
 
* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color:#401201;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width:300px;
    height:500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition: ease ;
}

section#login > div#imagem {
    display: block;
    background:#2C3D73 url(../imagens/build2.jpg) no-repeat ;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 15px;

}

h1{
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 0.8em;
}